<section class="benefits">
    <div class="container">
        <h2 class="benefits-title">Why Choose Product?</h2>
        <ul class="benefits-list">
            <li class="benefits-item">
                <div class="product-icon-wrap cursor-icon-wrap">
                    <svg class="product-icon" width="11" height="18">
                        <use href="/img/icons.svg#icon-first"></use>
                    </svg>
                </div>
                <h3 class="benefits-item-title">Special Business</h3>
                <p class="benefits-item-text">
                    Product helps you see how many more days you need to work to
                    reach your financial goal for the month and year.
                </p>
            </li>
            <li class="benefits-item">
                <div class="product-icon-wrap wave-icon-wrap">
                    <svg class="product-icon" width="18" height="18">
                        <use href="/img/icons.svg#icon-second"></use>
                    </svg>
                </div>
                <h3 class="benefits-item-title">Instant Result</h3>
                <p class="benefits-item-text">
                    Product helps you see how many more days you need to work to
                    reach your financial goal for the month and year.
                </p>
            </li>
            <li class="benefits-item">
                <div class="product-icon-wrap heart-icon-wrap">
                    <svg class="product-icon" width="16" height="18">
                        <use href="../img/icons.svg#icon-heart"></use>
                    </svg>
                </div>
                <h3 class="benefits-item-title">Fastest way to organize</h3>
                <p class="benefits-item-text">
                    Product helps you see how many more days you need to work to
                    reach your financial goal for the month and year.
                </p>
            </li>
        </ul>
    </div>
</section>