<section class="clients">
    <div class="container">
        <h2 class="clients-title">What Clients Say</h2>
        <p class="clients-text">
            Problems trying to resolve the conflict between the two major realms
            of Classical physics: Newtonian mechanics
        </p>
        <ul class="clients-list">
            <li class="clients-item">
                <svg class="" width="106" height="18">
                    <use href="/img/icons.svg#icon-stars"></use>
                </svg>
                <p class="clients-desk">
                    Product helps you see how many more days you need to work to
                    reach your financial goal.
                </p>
                <div class="client-box">
                    <img src="/img/feedback1-min.png" alt="" width="50" />
                    <div>
                        <h3 class="clients-name">Wahid Ari</h3>
                        <p class="clients-position">Designer</p>
                    </div>
                </div>
            </li>
            <li class="clients-item">
                <svg class="" width="106" height="18">
                    <use href="/img/icons.svg#icon-stars"></use>
                </svg>
                <p class="clients-desk">
                    Product helps you see how many more days you need to work to
                    reach your financial goal.
                </p>
                <div class="client-box">
                    <img src="/img/feedback2-min.png" alt="" width="50" />
                    <div>
                        <h3 class="clients-name">Wahid Ari</h3>
                        <p class="clients-position">Designer</p>
                    </div>
                </div>
            </li>
            <li class="clients-item">
                <svg class="" width="106" height="18">
                    <use href="/img/icons.svg#icon-stars"></use>
                </svg>
                <p class="clients-desk">
                    Product helps you see how many more days you need to work to
                    reach your financial goal.
                </p>
                <div class="client-box">
                    <img src="/img/avatar4-min.png" alt="" width="50" />
                    <div>
                        <h3 class="clients-name">Wahid Ari</h3>
                        <p class="clients-position">Designer</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>