<section class="customers">
    <div class="container">
        <h1 class="customers-title">Our Clients</h1>
        <ul class="customers-list">
            <li>
                <svg class="" width="159" height="50">
                    <use href="/img/icons.svg#icon-airbnb-logo"></use>
                </svg>
            </li>
            <li>
                <svg class="" width="146" height="50">
                    <use href="/img/icons.svg#icon-google-logo"></use>
                </svg>
            </li>
            <li>
                <svg class="" width="213" height="44">
                    <use href="/img/icons.svg#icon-microsoft-logo"></use>
                </svg>
            </li>
            <li>
                <svg class="" width="159" height="50">
                    <use href="/img/icons.svg#icon-fedex-logo"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>