<section class="effects">
    <div class="container">
        <h2 class="effects-title">
            Product is being used with great effects alongside:
        </h2>
        <div class="effects-wrap">
            <svg class="amico-icon" width="528" height="392">
                <use href="../img/icons.svg#icon-amico"></use>
            </svg>
            <ul class="effects-list">
                <li class="effects-item">
                    <div class="effects-title-wrap">
                        <div class="effects-icon-wrap">
                            <svg class="icon-first" width="24" height="24">
                                <use href="../img/icons.svg#icon-01"></use>
                            </svg>
                        </div>
                        <h3 class="effects-subtitle">Enterpreneur</h3>
                    </div>
                    <p class="effects-text">
                        Product is a great way to help medium and samall enterprise
                        owners achieve their goals
                    </p>
                </li>
                <li class="effects-item">
                    <div class="effects-title-wrap">
                        <div class="effects-icon-wrap">
                            <svg class="icon-second" width="24" height="24">
                                <use href="/img/icons.svg#icon-02"></use>
                            </svg>
                        </div>
                        <h3 class="effects-subtitle">Accountants</h3>
                    </div>
                    <p class="effects-text">
                        Whether you are working on contract with clients, or on other
                        key accounting documents, Product is for you
                    </p>
                </li>
                <li class="effects-item">
                    <div class="effects-title-wrap">
                        <div class="effects-icon-wrap">
                            <svg class="icon-third" width="24" height="24">
                                <use href="/img/icons.svg#icon-03"></use>
                            </svg>
                        </div>
                        <h3 class="effects-subtitle">Universities</h3>
                    </div>
                    <p class="effects-text">
                        Organize university projects and have documents easily graded
                        online with Product
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>