<section class="faq">
    <div class="container">
        <h2 class="faq-title">Frequently asked question</h2>
        <p class="faq-text">
            Something is not clear? You need help? Check our FAQ section
        </p>
        <details class="faq-details">
            <summary class="faq-summary">What are my payment option?</summary>
        </details>
        <details class="faq-details">
            <summary class="faq-summary">
                How can I invite collaborator to platform?
            </summary>
            <p class="summary-text">
                After creating your account you will have an oppurtunity to create
                your first project that will be associated withthe collaborators
                e-mail. An invitation will be sent automatically. Then, invited
                user will have to confirm his account by e-mail and finish userd
                onboarding.
            </p>
        </details>
        <details class="faq-details">
            <summary class="faq-summary">Can I upgrade my plan?</summary>
        </details>
        <details class="faq-details">
            <summary class="faq-summary">
                Can I cancel my plan at anytime?
            </summary>
        </details>
    </div>
</section>