<section class="invite">
    <div class="container">
        <h2 class="invite-title">
            Join thousand of other who have already received offers
        </h2>
        <ul class="invite-list">
            <li class="invite-item">
                <div class="invite-img-wrap">
                    <img src="/img/Activity-min.png" alt="activity" />
                </div>
                <p class="invite-subtitle">Business</p>
                <ul class="invite-sublist">
                    <li>Cash Flow</li>
                    <li>Asset Backed</li>
                    <li>Receivables Finance</li>
                </ul>
                <p class="invite-list-text">Find the best business product</p>
            </li>
            <li class="invite-item">
                <div class="invite-img-wrap">
                    <img src="/img/Chart-min.png" alt="enterprice" />
                </div>
                <p class="invite-subtitle">Enterprise</p>
                <ul class="invite-sublist">
                    <li>Site Acquisition</li>
                    <li>Bridge</li>
                    <li>Development Financing</li>
                </ul>
                <p class="invite-list-text">Find the best business product</p>
            </li>
        </ul>
    </div>
</section>