<section class="management">
    <div class="container">
        <div class="management-text-wrapper">
            <h2 class="management-title">
                <span>Effortless Validatio </span>Management
            </h2>
            <p class="management-text">
                The Myspace page defines the individual, his or her
                characteristics, traits, personal choices and the overall
                personality of the person.
            </p>
            <ul class="management-list">
                <li class="management-item">
                    <h3 class="management-subtitle">Accessory makers</h3>
                    <p class="management-text">
                        While most people enjoy casino gambling, sports betting,
                        lottery and bingo playing for the fun
                    </p>
                </li>
                <li class="management-item">
                    <h3 class="management-subtitle">Alterationists</h3>
                    <p class="management-text">
                        If you are looking for a new way to promote your business that
                        won't cost you more money,
                    </p>
                </li>
            </ul>
        </div>
        <svg class="icon-management-img" width="540" height="500">
            <use href="/img/icons.svg#icon-management-img"></use>
        </svg>
    </div>
</section>