<section class="process">
    <div class="container">
        <h2 class="process-title">Quick & Easy Process</h2>
        <p class="process-text">
            Do you require some help for your project: Conception workshop,
            prototyping, marketing strategy, landing page, Ux/UI?
        </p>
        <ul class="process-list">
            <li class="process-item">
                <img src="/img/avatar1-min.png" alt="avatar" />
                <p class="process-item-text">I can take care of your pitch</p>
            </li>
            <li class="process-item">
                <img src="/img/avatar2-min.png" alt="avatar" />
                <p class="process-item-text">I can prototype your app</p>
            </li>
            <li class="process-item">
                <img src="/img/avatar3-min.png" alt="avatar" />
                <p class="process-item-text">I can take care of your pitch</p>
            </li>
            <li class="process-item">
                <img src="/img/avatar4-min.png" alt="avatar" />
                <p class="process-item-text">I can help marketing strategy</p>
            </li>
        </ul>
        <button class="process-button">Contact our expert</button>
    </div>
</section>