<section class="support">
    <div class="container">
        <svg class="icon-support" width="540" height="500">
            <use href="/img/icons.svg#icon-support-img"></use>
        </svg>
        <div class="support-wrapper">
            <h2 class="support-title">
                <span>Easier decision making for </span> Customer Support
            </h2>
            <p class="support-text">
                The Myspace page defines the individual, his or her
                characteristics, traits, personal choices and the overall
                personality of the person.
            </p>
            <ul class="support-list">
                <li class="support-item">
                    <div class="support-item-wrap">
                        <div class="icon-tick-wrap icon-tick-green">
                            <svg class="icon-tick" width="17" height="12">
                                <use href="/img/icons.svg#icon-tick"></use>
                            </svg>
                        </div>
                        <p class="support-item-text">
                            Never worry about overpaying for your energy again.
                        </p>
                    </div>
                </li>
                <li class="support-item">
                    <div class="support-item-wrap">
                        <div class="icon-tick-wrap icon-tick-red">
                            <svg class="icon-tick" width="17" height="12">
                                <use href="/img/icons.svg#icon-tick"></use>
                            </svg>
                        </div>
                        <p class="support-item-text">
                            We will only switch you to energy companies that we trust
                            and will treat you right
                        </p>
                    </div>
                </li>
                <li class="support-item">
                    <div class="support-item-wrap">
                        <div class="icon-tick-wrap icon-tick-blue">
                            <svg class="icon-tick" width="17" height="12">
                                <use href="/img/icons.svg#icon-tick"></use>
                            </svg>
                        </div>
                        <p class="support-item-text">
                            We track the markets daily and know where the savings are.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>