.support {
    margin-bottom: 100px;
}

.support .container {
    display: flex;
    justify-content: space-between;
}

.support-wrapper {
    max-width: 450px;
}

.support-title {
    font-size: 32px;
    max-width: 304px;
    margin: 41px 0 25px;
}

.support-title span {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.support-text {
    margin-bottom: 30px;
}

.icon-tick-wrap {
    width: 35px;
    height: 35px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.icon-tick {
    fill: #fff;
}

.icon-tick-green {
    background-color: #ff9900;
}

.icon-tick-red {
    background-color: #f03e3d;
}

.icon-tick-blue {
    background-color: #4d8dff;
}

.support-item-text {
    max-width: 385px;
    line-height: 1.625;
}

.support-item-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}